In [2]:
# import kagglehub

# # Download latest version
# path = kagglehub.dataset_download("patricklford/global-ev-sales-2010-2024")

# print("Path to dataset files:", path)b

In [3]:
import pandas as pd
df = pd.read_csv('ev_sales.csv')
df.head(20)

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV stock share,Cars,EV,2011,percent,0.00039
1,Australia,Historical,EV sales share,Cars,EV,2011,percent,0.00650
2,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,49.00000
3,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,49.00000
4,Australia,Historical,EV stock,Cars,BEV,2012,Vehicles,220.00000
5,Australia,Historical,EV sales,Cars,BEV,2012,Vehicles,170.00000
6,Australia,Historical,EV sales share,Cars,EV,2012,percent,0.03000
7,Australia,Historical,EV stock share,Cars,EV,2012,percent,0.00240
8,Australia,Historical,EV stock,Cars,PHEV,2012,Vehicles,80.00000
9,Australia,Historical,EV sales,Cars,PHEV,2012,Vehicles,80.00000
10,Australia,Historical,EV sales,Cars,PHEV,2013,Vehicles,100.00000
11,Australia,Historical,EV stock,Cars,PHEV,2013,Vehicles,180.00000
12,Australia,Historical,EV stock share,Cars,EV,2013,percent,0.00460
13,Australia,Historical,EV sales share,Cars,EV,2013,percent,0.03400
14,Australia,Historical,EV sales,Cars,BEV,2013,Vehicles,190.00000
15,Australia,Historical,EV stock,Cars,BEV,2013,Vehicles,410.00000
16,Australia,Historical,EV stock,Cars,BEV,2014,Vehicles,780.00000
17,Australia,Historical,EV sales,Cars,BEV,2014,Vehicles,370.00000
18,Australia,Historical,EV sales share,Cars,EV,2014,percent,0.16000
19,Australia,Historical,EV stock share,Cars,EV,2014,percent,0.01400

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12654 entries, 0 to 12653
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   region      12654 non-null  object
 1   category    12654 non-null  object
 2   parameter   12654 non-null  object
 3   mode        12654 non-null  object
 4   powertrain  12654 non-null  object
 5   year        12654 non-null  int64
 6   unit        12654 non-null  object
 7   value       12654 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 791.0+ KB

In [5]:
df.isna().sum()

region        0
category      0
parameter     0
mode          0
powertrain    0
year          0
unit          0
value         0
dtype: int64

In [6]:
df[df.duplicated()]

Empty DataFrame
Columns: [region, category, parameter, mode, powertrain, year, unit, value]
Index: []

In [7]:
df.drop(columns=['value', 'unit', 'category'], inplace = True)

In [8]:
df

          region           parameter    mode               powertrain  year
0      Australia      EV stock share    Cars                       EV  2011
1      Australia      EV sales share    Cars                       EV  2011
2      Australia            EV sales    Cars                      BEV  2011
3      Australia            EV stock    Cars                      BEV  2011
4      Australia            EV stock    Cars                      BEV  2012
...          ...                 ...     ...                      ...   ...
12649      World      EV sales share    Cars                       EV  2035
12650      World      EV stock share    Cars                       EV  2035
12651      World  EV charging points      EV  Publicly available fast  2035
12652      World  EV charging points      EV  Publicly available slow  2035
12653      World      EV stock share  Trucks                       EV  2035

[12654 rows x 5 columns]

In [9]:
df['row_id'] = df.index + 1

In [10]:
df

,region,parameter,mode,powertrain,year,row_id
0,Australia,EV stock share,Cars,EV,2011,1
1,Australia,EV sales share,Cars,EV,2011,2
2,Australia,EV sales,Cars,BEV,2011,3
3,Australia,EV stock,Cars,BEV,2011,4
4,Australia,EV stock,Cars,BEV,2012,5
...,...,...,...,...,...,...
12649,World,EV sales share,Cars,EV,2035,12650
12650,World,EV stock share,Cars,EV,2035,12651
12651,World,EV charging points,EV,Publicly available fast,2035,12652
12652,World,EV charging points,EV,Publicly available slow,2035,12653
12653,World,EV stock share,Trucks,EV,2035,12654

In [11]:
df['parameter'].unique()

array(['EV stock share', 'EV sales share', 'EV sales', 'EV stock',
       'EV charging points', 'Electricity demand', 'Oil displacement Mbd',
       'Oil displacement, million lge'], dtype=object)

In [12]:
df['parameter'].value_counts()

parameter
EV stock                         3470
EV sales                         3372
EV sales share                   1642
EV stock share                   1529
EV charging points                918
Oil displacement Mbd              586
Oil displacement, million lge     586
Electricity demand                551
Name: count, dtype: int64

In [13]:
df.set_index('parameter', inplace=True)

# Specify the rows you want to drop
rows_to_drop = ['EV stock share', 'EV sales share', 'EV stock',
       'EV charging points', 'Electricity demand', 'Oil displacement Mbd',
       'Oil displacement, million lge']

# Drop the specified rows using the index
df = df.drop(index=rows_to_drop)
df = df.reset_index()

In [14]:
df

     parameter     region  mode powertrain  year  row_id
0     EV sales  Australia  Cars        BEV  2011       3
1     EV sales  Australia  Cars        BEV  2012       6
2     EV sales  Australia  Cars       PHEV  2012      10
3     EV sales  Australia  Cars       PHEV  2013      11
4     EV sales  Australia  Cars        BEV  2013      15
...        ...        ...   ...        ...   ...     ...
3367  EV sales      World  Vans       FCEV  2035   12620
3368  EV sales      World  Vans       PHEV  2035   12621
3369  EV sales      World  Cars        BEV  2035   12622
3370  EV sales      World  Cars       FCEV  2035   12623
3371  EV sales      World  Cars       PHEV  2035   12624

[3372 rows x 6 columns]

In [15]:
df = pd.DataFrame(df)
if 'row_id' in df.columns:
    df = df.drop(columns=['row_id'])
df.index = pd.RangeIndex(start=1, stop=len(df) + 1)
df

     parameter     region  mode powertrain  year
1     EV sales  Australia  Cars        BEV  2011
2     EV sales  Australia  Cars        BEV  2012
3     EV sales  Australia  Cars       PHEV  2012
4     EV sales  Australia  Cars       PHEV  2013
5     EV sales  Australia  Cars        BEV  2013
...        ...        ...   ...        ...   ...
3368  EV sales      World  Vans       FCEV  2035
3369  EV sales      World  Vans       PHEV  2035
3370  EV sales      World  Cars        BEV  2035
3371  EV sales      World  Cars       FCEV  2035
3372  EV sales      World  Cars       PHEV  2035

[3372 rows x 5 columns]

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3372 entries, 1 to 3372
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   parameter   3372 non-null   object
 1   region      3372 non-null   object
 2   mode        3372 non-null   object
 3   powertrain  3372 non-null   object
 4   year        3372 non-null   int64
dtypes: int64(1), object(4)
memory usage: 131.8+ KB

In [17]:
import sqlalchemy as sal
from sqlalchemy import text

# Replace 'username', 'password', 'localhost', and 'dbname' with your actual database details.
engine = sal.create_engine('mysql+pymysql://root:*************@localhost/rishavdb')

# Create a connection
conn =  engine.connect()

In [18]:
# load the data into sql server using oppend option
df.to_sql('ev_sales', con=conn, index=False, if_exists = 'append')

3372